/* se pone #nombre-id
#titulo {
    color:blueviolet;
}*/


/**
    * #f5a1b1 rosa
    #f8bed4 rosa claro
    #a80b1e rojo
    */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*para que el padding no afecte al tamaño del elemento*/
}

:root {
    --color-bg: #FFE6EF;
    /* fondo general */
    --color-primary: rgb(175, 49, 95);
    /* rojo burdeos elegante */
    --color-secondary: #c94f7c;
    /* rosa suave, acentos */
    --color-tertiary: rgb(156, 0, 60);
    /* rosa claro, para detalles */
    --color-text: #6b0036;
    /* gris oscuro para texto */
}

html {
    font-family: "Mukta", sans-serif;
    background-color: var(--color-bg);
    /*background-image: url(../img/55044d7dbeb90a8a32c8be0522acf489.jpg);*/
    background-attachment: fixed;
    background-size: cover;
    /*para que la imagen cubra todo el fondo*/
    width: 100%;
    max-width: 100vw;
    /* Nunca más ancho que la ventana */

}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    /* espacio entre la foto y el texto */
    margin-top: 3rem;
    /* centrado horizontal */
    margin-bottom: 3.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.about-me .jimena-foto {
    display: block;
    /* Necesario para que se centre con margin */
    width: 250px;
    /* Ajusta el tamaño */
    height: 250px;
    /* Igual que el ancho para círculo */
    object-fit: cover;
    /* Recorta la imagen si no es cuadrada */
    border-radius: 50%;
    /* Hace la imagen completamente redonda */
    box-shadow: 0 4px 20px rgba(175, 49, 95, 0.25);
}


.about-me-saludo {
    color: var(--color-text);
    font-size: smaller;
}

.about-me .about-me-info .nombre {
    font-weight: 700;
    font-size: 30px;
    color: var(--color-primary);

}

.about-me .about-me-info .engineer {
    font-weight: 600;
    font-size: 18px;
    color: whitesmoke;
    margin-bottom: 1rem;
    /* espacio debajo del título */
    background-color: rgb(156, 0, 60, 0.7);
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;

}

.about-me .about-me-info .descripcion {
    text-align: justify;
    color: var(--color-text);
    width: 100%;
    max-width: 550px;
    /* para que no se extienda demasiado */
}


.skills h2 {
    margin-bottom: 2%;
    /* espacio entre el título y la lista */
}

.skills ul {
    list-style: none;
    display: flex;
    /* Pone los <li> en fila */
    gap: 20px;
    /* Espacio entre elementos */
    justify-content: center;
    /* Centra horizontalmente */
    margin-bottom: 5%;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

.skills ul li img {
    width: 50px;
    /* Ajusta el tamaño de los logos */
    height: 50px;
}

.skills ul li:hover img {
    transform: scale(1.2);
    /* Efecto de zoom al pasar el mouse */
    transition: transform 0.3s ease;
    /* Transición suave */
}

.skills,
.projects h1,
.contact-me h1 {
    color: var(--color-primary);
    font-weight: 800;
    text-align: center;
    margin-top: 3rem;
}

.projects .projects-grid {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 40px;
    /* Espacio entre los proyectos */
    padding: 2% 0;
    /* Espacio arriba y abajo */
    width: 80%;
    min-width: 0;
    /* para que no se estire demasiado en pantallas grandes */
    margin-left: auto;
    margin-right: auto;


}


/*para q no queden 3 y 1*/
@media screen and (max-width: 1100px) {
    .projects .projects-grid {
        grid-template-columns: repeat(2, minmax(120px, 200px));

    }
}


.quizec img,
.recipeat img,
.linja img,
.quantik img {
    width: 100%;
    /* para que ocupe todo el ancho del contenedor */
    aspect-ratio: 1 / 1;
    /* Hace la imagen cuadrada */
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    /* para que la imagen se recorte si no es cuadrada */
}

/*cards*/
.projects .recipeat,
.projects .linja,
.projects .quizec,
.projects .quantik {
    background-color: white;
    color: var(--color-secondary);
    border-radius: 20px;
}


.projects .recipeat:hover,
.projects .linja:hover,
.projects .quizec:hover,
.projects .quantik:hover {
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-8px) scale(1.03);
    transition: all 0.3s cubic-bezier(.4, 2, .6, 1);
    /* Transición suave */
    cursor: pointer;
    /* Cambia el cursor al pasar por encima */
}

.projects .recipeat-info,
.projects .linja-info,
.projects .quizec-info,
.projects .quantik-info {
    padding: 3%;
    text-align: left;
}

.recipeat-language,
.linja-language,
.quizec-language,
.quantik-language {
    font-size: small;
    color: whitesmoke;
    border-radius: 30px;
    padding: 4px 10px;
    margin-bottom: 3%;
    display: inline-block;
}

.recipeat-language {
    background-color: purple;
}

.linja-language {
    background-color: #306998;
}

.quizec-language {
    background-color: purple;
}

.quantik-language {
    background-color: orange;
}

.projects .recipeat h2,
.projects .linja h2,
.projects .quizec h2,
.projects .quantik h2 {
    text-align: center;
}



.contact-me {
    text-align: center;
    margin-top: 4rem;
}


.contact-me:hover {
    color: #b72025;
}


.contact-me-card {
    background-color: #fff0f6;
    width: 100%;
    max-width: 650px;
    /* para que no se extienda demasiado */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    padding: 20px;
}


.contact-me-card h3 {
    color: var(--color-primary);
}

.contact-me-form {
    gap: 20px;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}

.contact-me-form-name-email {
    display: flex;
    flex-wrap: wrap;
    /* para que se acomoden en varias líneas si es necesario */
    gap: 40px;
    /* espacio entre los campos */
    margin-bottom: 20px;
    /* espacio debajo de los campos */
    justify-content: center;
    /* centrado horizontal */
}

.contact-me-form-name-email div {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    color: var(--color-secondary);
    font-weight: 600;
}

.contact-me-form-name-email input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;

}

.contact-me-form-end {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-me-form-end textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    /* para que no se pueda redimensionar */
    margin: 0 auto;
    /* centrado horizontal */
    font-family: "Mukta", sans-serif;

}

.contact-me-form button {
    background-color: rosybrown;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 30%;
    margin: 0 auto;
    /* centrado horizontal */
    border: none;
    /* quita el borde */
}


.contact-me-form button:hover {
    background-color: var(--color-secondary);
    /* cambia el color al pasar el mouse */
    transition: background-color 0.3s ease;
    /* transición suave */

}

footer {
    background-color: rgb(175, 49, 95, 0.7);
    /*rgba(74, 26, 36, 0.70);/*8B1E3F*/
    text-align: center;
    margin-top: 6rem;
    color: whitesmoke;
    font-weight: 600;
    padding-top: 1rem;
    font-size: 14px;

}

.contact-me-socials {
    display: flex;
    /* ← necesario para que el gap funcione */
    justify-content: center;
    /* opcional: centra los íconos horizontalmente */
    gap: 10px;
    margin-bottom: 1rem;
}

.contact-me-socials a:hover svg {
    filter: brightness(0.8);
}

.contact-me-socials svg {
    width: 24px;
    height: 24px;
}


@media screen and (max-width: 600px) {

    .projects .projects-grid {
        grid-template-columns: repeat(2, minmax(100px, 200px));

    }

    .about-me {
        flex-direction: column;
        /* Cambia a columna en pantallas pequeñas */
        align-items: center;
        /* Centra los elementos */
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        gap: 20px;
        /* Espacio entre la foto y el texto */
        text-align: center;

    }

    .about-me .jimena-foto {
        width: 180px;
        /* Ajusta el tamaño de la foto */
        height: 180px;
        /* Igual que el ancho para círculo */
    }

    .about-me-info .descripcion {
        text-align: justify;
        /* Centra el texto en pantallas pequeñas */
    }

    .skills ul {
        flex-wrap: wrap;
        /* Permite que los logos se acomoden en varias líneas si es necesario */
    }

    .contact-me-form {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        align-items: center;
        text-align: left;
    }

    .contact-me-form-name-email {
        gap: 20px;
        /* espacio entre los campos */
        flex-direction: column;
    
    }

    .contact-me-form button {
        width: 40%;
        /* botón ocupa todo el ancho en pantallas pequeñas */
        white-space: nowrap;
        /* evita que el texto se divida en varias líneas */
    }
}

@media screen and (max-width: 900px) {
    .about-me .jimena-foto {
        width: 200px;
        /* Ajusta el tamaño de la foto */
        height: 200px;
        /* Igual que el ancho para círculo */
    }

    .contact-me-card {
        width: 80%;
    }

}