/* se pone #nombre-id
#titulo {
    color:blueviolet;
}*/

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    /* espacio entre la foto y el texto */
    margin-top: 3rem;
    /* centrado horizontal */
    margin-bottom: 3.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.about-me .jimena-foto {
    display: block;
    /* Necesario para que se centre con margin */
    width: 250px;
    /* Ajusta el tamaño */
    height: 250px;
    /* Igual que el ancho para círculo */
    object-fit: cover;
    /* Recorta la imagen si no es cuadrada */
    border-radius: 50%;
    /* Hace la imagen completamente redonda */
    box-shadow: 0 4px 20px rgba(175, 49, 95, 0.25);
}


.about-me-saludo {
    color: var(--color-text);
    font-size: smaller;
}

.about-me .about-me-info .nombre {
    font-weight: 700;
    font-size: 30px;
    color: var(--color-primary);

}

.about-me .about-me-info .engineer {
    font-weight: 600;
    font-size: 18px;
    color: var(--color-bg);
    margin-bottom: 1rem;
    /* espacio debajo del título */
    background-color: var(--color-4);
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;

}

.about-me .about-me-info .descripcion {
    text-align: justify;
    color: var(--color-text);
    width: 100%;
    max-width: 550px;
    /* para que no se extienda demasiado */

}


.skills h2 {
    margin-bottom: 2%;
    /* espacio entre el título y la lista */
}

.skills-tools ul {
    list-style: none;
    display: flex;
    /* Pone los <li> en fila */
    gap: 20px;
    /* Espacio entre elementos */
    justify-content: center;
    /* Centra horizontalmente */
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

.skills ul li img {
    width: 50px;
    /* Ajusta el tamaño de los logos */
    height: 50px;
}

.skills ul li:hover img {
    transform: scale(1.2);
    /* Efecto de zoom al pasar el mouse */
    transition: transform 0.3s ease;
    /* Transición suave */
}

.skills,
.projects h1,
.contact-me h1 {
    color: var(--color-primary);
    font-weight: 800;
    text-align: center;
    margin-top: 3rem;
}

.skills-scroll {
    overflow: hidden;
    margin-left: 30%;
    margin-right: 30%;

}

.skills-lan ul {
    list-style: none;
    display: flex;
    gap: 40px;
    /* Permite que los logos se acomoden en varias líneas si es necesario */
    animation: deslizar 12s linear infinite;
    margin-top: 1%;
}

.skills-lan ul:hover {
    animation-play-state: paused;
}

@keyframes deslizar {
    0% {
        transform: translateX(3.5%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.projects .projects-grid {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 40px;
    /* Espacio entre los proyectos */
    padding: 2% 0;
    /* Espacio arriba y abajo */
    width: 80%;
    min-width: 0;
    /* para que no se estire demasiado en pantallas grandes */
    margin-left: auto;
    margin-right: auto;


}


/*para q no queden 3 y 1*/
@media screen and (max-width: 1100px) {
    .projects .projects-grid {
        grid-template-columns: repeat(2, minmax(120px, 200px));

    }
}


.quizec img,
.recipeat img,
.linja img,
.quantik img {
    width: 100%;
    /* para que ocupe todo el ancho del contenedor */
    aspect-ratio: 1 / 1;
    /* Hace la imagen cuadrada */
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    /* para que la imagen se recorte si no es cuadrada */
}

/*cards*/
.projects .recipeat,
.projects .linja,
.projects .quizec,
.projects .quantik {
    background-color: var(--color-cards-bg);
    color: var(--color-secondary);
    border-radius: 20px;
}


.projects .recipeat:hover,
.projects .linja:hover,
.projects .quizec:hover,
.projects .quantik:hover {
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-8px) scale(1.03);
    transition: all 0.3s cubic-bezier(.4, 2, .6, 1);
    /* Transición suave */
    cursor: pointer;
    /* Cambia el cursor al pasar por encima */
}

.projects .recipeat-info,
.projects .linja-info,
.projects .quizec-info,
.projects .quantik-info {
    padding: 3%;
    text-align: left;
}

.recipeat-language,
.linja-language,
.quizec-language,
.quantik-language {
    font-size: small;
    color: whitesmoke;
    border-radius: 30px;
    padding: 4px 10px;
    margin-bottom: 3%;
    display: inline-block;
}

.recipeat-language {
    background-color: purple;
}

.linja-language {
    background-color: #306998;
}

.quizec-language {
    background-color: purple;
}

.quantik-language {
    background-color: orange;
}

.projects .recipeat h2,
.projects .linja h2,
.projects .quizec h2,
.projects .quantik h2 {
    text-align: center;
}



.contact-me {
    text-align: center;
    margin-top: 4rem;
}


.contact-me:hover {
    color: #b72025;
}


.contact-me-card {
    background-color: var(--color-contact-card-bg);
    width: 100%;
    max-width: 650px;
    /* para que no se extienda demasiado */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    padding: 20px;
}


.contact-me-card h3 {
    color: var(--color-contact-card-title);
    font-weight: 800;
}

.contact-me-form {
    gap: 20px;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}

.contact-me-form-name-email {
    display: flex;
    flex-wrap: wrap;
    /* para que se acomoden en varias líneas si es necesario */
    gap: 40px;
    /* espacio entre los campos */
    margin-bottom: 20px;
    /* espacio debajo de los campos */
    justify-content: center;
    /* centrado horizontal */
}

.contact-me-form-name-email div {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    color: var(--color-contact-card-text);
    font-weight: 600;
}

.contact-me-form-name-email input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
    background-color: var(--color-input-bg);
    color: whitesmoke;
    border-color: var(--color-border);


}

.contact-me-form-end {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-me-form-end textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-border);
    resize: none;
    /* para que no se pueda redimensionar */
    margin: 0 auto;
    /* centrado horizontal */
    font-family: "Mukta", sans-serif;
    background-color: var(--color-input-bg);
    color: whitesmoke;



}

.contact-me-form button {
    background-color: var(--color-disabled);
    color: whitesmoke;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 30%;
    margin: 0 auto;
    /* centrado horizontal */
    border: none;
    /* quita el borde */
}


.contact-me-form button:hover {
    background-color: var(--color-button);
    /* cambia el color al pasar el mouse */
    transition: background-color 0.3s ease;
    /* transición suave */

}


@media screen and (max-width: 900px) {
    .about-me .jimena-foto {
        width: 200px;
        /* Ajusta el tamaño de la foto */
        height: 200px;
        /* Igual que el ancho para círculo */
    }

    .contact-me-card {
        width: 80%;
    }

    .skills-scroll {
        margin-left: 20%;
        margin-right: 20%;
    }

    @keyframes deslizar {
        0% {
            transform: translateX(3%);
        }

        100% {
            transform: translateX(-140%);
        }
    }


}


@media screen and (max-width: 600px) {

    .projects .projects-grid {
        grid-template-columns: repeat(2, minmax(100px, 200px));

    }

    .about-me {
        flex-direction: column;
        /* Cambia a columna en pantallas pequeñas */
        align-items: center;
        /* Centra los elementos */
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        gap: 20px;
        /* Espacio entre la foto y el texto */
        text-align: center;

    }

    .about-me .jimena-foto {
        width: 180px;
        /* Ajusta el tamaño de la foto */
        height: 180px;
        /* Igual que el ancho para círculo */
    }

    .about-me-info .descripcion {
        text-align: justify;
        /* Centra el texto en pantallas pequeñas */
    }


    .skills-lan ul {
        gap: 1.5rem;
        animation: deslizar 12s linear infinite;
    }

    @keyframes deslizar {
        0% {
            transform: translateX(3.5%);
        }

        100% {
            transform: translateX(-103.5%);
        }
    }

    .skills-scroll {
        margin-left: 0%;
        margin-right: 0%;

    }

    .contact-me-form {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        align-items: center;
        text-align: left;
    }

    .contact-me-form-name-email {
        gap: 20px;
        /* espacio entre los campos */
        flex-direction: column;

    }

    .contact-me-form button {
        width: 40%;
        /* botón ocupa todo el ancho en pantallas pequeñas */
        white-space: nowrap;
        /* evita que el texto se divida en varias líneas */
    }
}