* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*para que el padding no afecte al tamaño del elemento*/
}

:root {
    --color-footer-bg: #af315fb3;
    --color-bg: #FFE6EF;
    /* fondo general */
    --color-primary: #af315f;
    /* rojo burdeos elegante */
    --color-secondary: #c94f7c;
    /* rosa suave, acentos */
    --color-tertiary: rgb(156, 0, 60);
    --color-4: rgb(156, 0, 60, 0.7);
    /* rosa claro, para detalles */
    --color-text: #6b0036;
    /* gris oscuro para texto */
    --color-contact-card-title: var(--color-bg); 
    --color-contact-card-text: whitesmoke;
    --color-contact-card-bg: var(--color-4);
    --color-disabled: rgb(188, 143, 162);
    --color-button: var(--color-text);
    --color-input-bg: whitesmoke;
    --color-border: var(--color-text); /* borde de entrada oscuro */
    --color-nav-menu-bg: whitesmoke;
    --color-cards-bg: whitesmoke; /* fondo de tarjetas */
   
}

body.dark-mode {
    --color-footer-bg: #4f263a;
    --color-bg: #2c131c; /* fondo oscuro real */
    --color-primary: #FF7CA9; /* rosa intenso elegante */
    --color-secondary: #b7436f; /* rosa intermedio */
    --color-tertiary: #9c003c; /* detalles más oscuros */
    --color-4: #ff8cb4bc; /* translúcido suave */
    --color-text: #f8dce6; /* texto rosado claro */
    --color-contact-card-bg: var(--color-4); /* fondo para contacto, burdeos profundo */
    --color-contact-card-title: whitesmoke; /* texto claro en contacto */
    --color-contact-card-text: var(--color-text); /* texto claro en contacto */
    --color-disabled: #522e3895; /* gris claro para botones deshabilitados */
    --color-button: #60263a ; /* rosa intermedio para botones */
    --color-input-bg: var(--color-bg); /* fondo de entrada oscuro */
    --color-border: #ffa2c4; /* borde de entrada oscuro */
    --color-nav-menu-bg: var(--color-disabled); /* fondo del menú de navegación oscuro */
    --color-cards-bg: var(--color-text); /* fondo de tarjetas oscuro */

    background-color: var(--color-bg);
    color: var(--color-text);

} 

html {
    font-family: "Mukta", sans-serif;
    background-color: var(--color-bg);
    /*background-image: url(../img/55044d7dbeb90a8a32c8be0522acf489.jpg);*/
    background-attachment: fixed;
    background-size: cover;
    /*para que la imagen cubra todo el fondo*/
    width: 100%;
    max-width: 100vw;
    /* Nunca más ancho que la ventana */

}